{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{% block title %} Students {% endblock %}</h1>
    <div class="content">
      <div class="dropdown" name= vehicle method="GET" action="/" align="center">
        <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" >Vehicles
        <span class="caret"></span></button>
        <ul class="dropdown-menu" >
            {% for row in poll %}
                <li>
                    <option value="{{row[0]}}">{{row[1]}}</option>
                </li>    
                    <li class="divider"></li>
            {% endfor %}
        </ul>
    </div>
            </div>
    </div>
{% endblock %}